*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.circle {

    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 20px 100px ;
   
    
}
.buttons  {
    display: flex;
     gap: 10px;
     
}
.buttons div {
    border:  1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.switch-button {
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: pink;
    margin-right: 20px;
}
.switch_button-wrapper {
    display: flex;
    flex-wrap: wrap;
    

}
